<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <entityManager-factory>

        <property name="connection.url">jdbc:mysql://localhost:3306/rest_league?serverTimezone=UTC</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.username">maxpayne</property>
        <property name="connection.password">maxpayne</property>

        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <property name="pool_size">1</property>

        <property name="show_sql">true</property>

        <!-- DB schema will be updated if needed -->
        <property name="hbm2ddl.auto">update</property>

        <mapping class="org.tiwpr.szymie.entities.CountryEntity" />
        <mapping class="org.tiwpr.szymie.entities.PlayerEntity" />
        <mapping class="org.tiwpr.szymie.entities.PositionEntity" />
        <mapping class="org.tiwpr.szymie.entities.PoeKeyEntity" />


    </entityManager-factory>
</hibernate-configuration>
